In [4]:
from IPython.display import Image
Image(url='https://www.pantechelearning.com/wp-content/uploads/2021/12/Spam-classification.png', width=400)

In [5]:
#Import python liabraries from scikit-learn.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,f1_score,recall_score,precision_score

In [7]:
#Load dataset
df=pd.read_csv("Dataset.csv",encoding="latin1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5563,ham,Ard 6 like dat lor.,NaN,NaN,NaN
5564,ham,Why don't you wait 'til at least wednesday to ...,NaN,NaN,NaN
5565,ham,Huh y lei...,NaN,NaN,NaN
5566,spam,REMINDER FROM O2: To get 2.50 pounds free call...,NaN,NaN,NaN
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN

In [8]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5568 non-null   object
 1   v2          5568 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.6+ KB

In [10]:
print('rows---->',df.shape[0])
print('columns---->',df.shape[1])

rows----> 5568
columns----> 5

In [11]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5518
Unnamed: 3    5556
Unnamed: 4    5562
dtype: int64

In [12]:
df.isnull().mean()*100

v1             0.000000
v2             0.000000
Unnamed: 2    99.102011
Unnamed: 3    99.784483
Unnamed: 4    99.892241
dtype: float64

In [13]:
df.drop(columns=df[['Unnamed: 2','Unnamed: 3','Unnamed: 4']],axis=1,inplace=True)

In [14]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5563   ham                                Ard 6 like dat lor.
5564   ham  Why don't you wait 'til at least wednesday to ...
5565   ham                                       Huh y lei...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[5568 rows x 2 columns]

In [15]:
df.shape

(5568, 2)

In [16]:
df.columns=['spam/ham','sms']

In [17]:
df.loc[df['spam/ham'] == 'spam', 'spam/ham',] = 0
df.loc[df['spam/ham'] == 'ham', 'spam/ham',] = 1

In [18]:
df

     spam/ham                                                sms
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5563        1                                Ard 6 like dat lor.
5564        1  Why don't you wait 'til at least wednesday to ...
5565        1                                       Huh y lei...
5566        0  REMINDER FROM O2: To get 2.50 pounds free call...
5567        0  This is the 2nd time we have tried 2 contact u...

[5568 rows x 2 columns]

In [19]:
#Devide x and y parameters to train model
x=df.sms
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5563                                  Ard 6 like dat lor.
5564    Why don't you wait 'til at least wednesday to ...
5565                                         Huh y lei...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: sms, Length: 5568, dtype: object

In [20]:
y =df['spam/ham']
y

0       1
1       1
2       0
3       1
4       1
       ..
5563    1
5564    1
5565    1
5566    0
5567    0
Name: spam/ham, Length: 5568, dtype: object

In [21]:
#Devide the whole dataset into training and testing set for model training
from sklearn.model_selection import train_test_split

In [22]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=3)

In [23]:
print(x.shape)
print(xtrain.shape)
print(xtest.shape)

(5568,)
(4454,)
(1114,)

In [24]:
xtrain,xtest

(1136    Dont forget you can place as many FREE Request...
 3075    Mum, hope you are having a great day. Hoping t...
 1787                           Yes:)sura in sun tv.:)lol.
 1614    Me sef dey laugh you. Meanwhile how's my darli...
 5523                              Going to join tomorrow.
                               ...
 789                          Gud mrng dear hav a nice day
 968             Are you willing to go for aptitude class.
 1667    So now my dad is gonna call after he gets out ...
 3321    Ok darlin i supose it was ok i just worry too ...
 1688                     Nan sonathaya soladha. Why boss?
 Name: sms, Length: 4454, dtype: object,
 2632                       I WILL CAL YOU SIR. In meeting
 454     Loan for any purpose Ã¥Â£500 - Ã¥Â£75,000. Homeown...
 983     LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
 1282    Ever green quote ever told by Jerry in cartoon...
 4609                      Just glad to be talking to you.
                               ...
 4837    All boys made fun of me today. Ok i have no pr...
 5483    So li hai... Me bored now da lecturer repeatin...
 5270    Did u fix the teeth?if not do it asap.ok take ...
 4456    Aight should I just plan to come up later toni...
 3560    Text BANNEDUK to 89555 to see! cost 150p texto...
 Name: sms, Length: 1114, dtype: object)

In [25]:
ytrain,ytest

(1136    0
 3075    1
 1787    1
 1614    1
 5523    1
        ..
 789     1
 968     1
 1667    1
 3321    1
 1688    1
 Name: spam/ham, Length: 4454, dtype: object,
 2632    1
 454     0
 983     1
 1282    1
 4609    1
        ..
 4837    1
 5483    1
 5270    1
 4456    1
 3560    0
 Name: spam/ham, Length: 1114, dtype: object)

In [26]:
feat_vect=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
feat_vect

TfidfVectorizer(stop_words='english')

In [27]:
ytrain=ytrain.astype('int')
ytest=ytest.astype('int')

In [28]:
xtrain_vec =feat_vect.fit_transform(xtrain)

In [29]:
xtest_vec =feat_vect.transform(xtest)

In [30]:
print(xtrain)

1136    Dont forget you can place as many FREE Request...
3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
5523                              Going to join tomorrow.
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: sms, Length: 4454, dtype: object

In [31]:
xtrain_vec

<4454x7485 sparse matrix of type '<class 'numpy.float64'>'
	with 35021 stored elements in Compressed Sparse Row format>

In [32]:
print(xtrain_vec)

  (0, 88)	0.40882475363883547
  (0, 3557)	0.3332700833594385
  (0, 7272)	0.27185071822538237
  (0, 6886)	0.24761706182663762
  (0, 330)	0.40882475363883547
  (0, 5546)	0.40882475363883547
  (0, 2897)	0.19579126075850706
  (0, 5064)	0.25678578357121135
  (0, 2861)	0.31423562274667666
  (0, 2345)	0.22199956898615336
  (1, 741)	0.3247693044334787
  (1, 3973)	0.2400079739093729
  (1, 4292)	0.37429289222210704
  (1, 6577)	0.20137872327094994
  (1, 3388)	0.3247693044334787
  (1, 2116)	0.38784621750319287
  (1, 3141)	0.4409490933336422
  (1, 3267)	0.26758695481346684
  (1, 3381)	0.21949454476094682
  (1, 4508)	0.293523399394025
  (2, 4053)	0.37045009532578516
  (2, 6853)	0.4342390861887653
  (2, 6397)	0.48578735124864153
  (2, 6422)	0.5629453019869854
  (2, 7421)	0.34829065338689974
  :	:
  (4449, 2116)	0.309190164028538
  (4450, 1002)	0.6706393893741236
  (4450, 7250)	0.5860368470755544
  (4450, 1756)	0.45475666382104396
  (4451, 1997)	0.41999568071641663
  (4451, 3088)	0.3372431672053015
  (4451, 3029)	0.4249128099752504
  (4451, 7322)	0.3107182030334822
  (4451, 2080)	0.3876770869320167
  (4451, 1053)	0.31926408623945407
  (4451, 5355)	0.4249128099752504
  (4452, 1149)	0.39011797463345105
  (4452, 6413)	0.39011797463345105
  (4452, 4247)	0.3098530924359825
  (4452, 6343)	0.2606389052389545
  (4452, 7334)	0.2892675680299752
  (4452, 7385)	0.2969658896321296
  (4452, 2762)	0.3280165846325701
  (4452, 2102)	0.3098530924359825
  (4452, 3754)	0.16595777474779932
  (4452, 4763)	0.35869776513815677
  (4453, 6095)	0.5258776673152832
  (4453, 6112)	0.5258776673152832
  (4453, 4553)	0.5013933432704464
  (4453, 1382)	0.44216521048377044

In [33]:
print(xtest_vec)

  (0, 5992)	0.534995793002075
  (0, 4290)	0.5167437280363731
  (0, 1537)	0.6683976518549056
  (1, 7199)	0.22979499143642446
  (1, 6577)	0.14841456505360404
  (1, 6559)	0.27585097322847607
  (1, 5483)	0.27585097322847607
  (1, 5331)	0.27585097322847607
  (1, 5240)	0.2893214843695993
  (1, 4038)	0.2477017316785694
  (1, 3367)	0.2893214843695993
  (1, 3302)	0.37478699978983904
  (1, 2897)	0.13855965835006503
  (1, 603)	0.2893214843695993
  (1, 524)	0.19423239264827669
  (1, 321)	0.2893214843695993
  (1, 46)	0.23935247119132697
  (1, 1)	0.2145282391590687
  (2, 6676)	0.3086534359444104
  (2, 6626)	0.34143241119039675
  (2, 4064)	0.4487540466306414
  (2, 2940)	0.606489537471559
  (2, 2938)	0.4679179539604994
  (3, 7081)	0.29355546170487223
  (3, 6723)	0.20491303776483494
  :	:
  (1110, 6676)	0.2512118081054996
  (1110, 6343)	0.34589293602483046
  (1110, 3206)	0.4632510951400802
  (1110, 2076)	0.28113399127225625
  (1110, 1377)	0.3871001995738667
  (1111, 6543)	0.5091302579130966
  (1111, 4763)	0.25430315714689217
  (1111, 2792)	0.5091302579130966
  (1111, 2234)	0.30860292346931784
  (1111, 1585)	0.33503672898847386
  (1111, 1046)	0.45762134027458184
  (1112, 6739)	0.44269936693474626
  (1112, 5066)	0.4774631159425291
  (1112, 3907)	0.3827494481731435
  (1112, 3754)	0.2931239104825825
  (1112, 1836)	0.3361508267556811
  (1112, 853)	0.48023962573703877
  (1113, 7387)	0.3333041102999124
  (1113, 6586)	0.43201047102849155
  (1113, 6577)	0.23243219121504052
  (1113, 2965)	0.45310665131367484
  (1113, 1953)	0.30724898115339105
  (1113, 696)	0.43201047102849155
  (1113, 316)	0.2934771380713211
  (1113, 302)	0.2752837589336105

In [34]:
logi=LogisticRegression()

In [35]:
logi.fit(xtrain_vec,ytrain)

LogisticRegression()

In [36]:
logi.score(xtrain_vec,ytrain)

0.9654243376740009

In [37]:
logi.score(xtest_vec,ytest)

0.9658886894075404

In [38]:
pred_logi=logi.predict(xtest_vec)
pred_logi

array([1, 0, 1, ..., 1, 1, 0])

In [39]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score